[submodule "SAMYCore"]
	path = SAMYCore
	url = git@github.com:TW-Robotics/SAMYCore.git
[submodule "SAMYPlugins"]
	path = SAMYPlugins
	url = git@github.com:TW-Robotics/SAMYPlugins.git
[submodule "SAMYPlugins_Templates"]
	path = SAMYPlugins_Templates
	url = git@github.com:TW-Robotics/SAMYPlugins_Templates.git
[submodule "SAMYControl"]
	path = SAMYControl
	url = git@github.com:TW-Robotics/SAMYControl.git
[submodule "SAMYUseCases"]
	path = SAMYUseCases
	url = git@github.com:TW-Robotics/SAMYUseCases.git
